body {
  background: #dddddd;
}

#canvas {
  margin-left: 10px;
  margin-top: 10px;
  background: #ffffff;
  border: thin solid #aaaaaa;
}

#signup-form {
  position: absolute;
  left: 50px;
  top: 50px;
  padding: 0px 20px 10px 10px;
  background: rgba(0, 0, 0, 0.3);
  border: thin solid rgba(0, 0, 0, 0.6);
  color:# #eeeeee;
  font-family: Droid Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  -moz-box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
}

#signup-form h2 {
  font-weight: normal;
}

#signup-form .title {
  font-size: 2em;
  color:# rgba(255, 255, 0, 0.8);
}

#signup-form a:hover {
  color:# yellow;
}

#signup-form a {
  text-decoration: none;
  color:# #cccccc;
  font-size: 3.5em;
}

#profile-information p {
  margin: 10px;
  color:# rgba(65, 65, 220, 1.0);
  font-size: 12pt;
  font-family: Palatino, Arial, Helvetica, sans-serif;
}

#profile-information {
  position: absolute;
  left: 50px;
  top: 50px;
  padding: 0px 20px 10px 10px;
  background: rgba(0, 0, 0, 0.3);
  border: thin solid rgba(0, 0, 0, 0.6);
  color:# #eeeeee;
  font-family: Droid Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  -moz-box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
}

#profile-information h2 {
  font-weight: normal;
}

#profile-information .title {
  font-size: 2em;
  color:# rgba(255, 255, 0, 0.8);
}

#profile-information a:hover {
  color:# yellow;
}

#profile-information a {
  text-decoration: none;
  color:# #cccccc;
  font-size: 3.5em;
}

#profile-information p {
  margin: 10px;
  color:# rgba(65, 65, 220, 1.0);
  font-size: 12pt;
  font-family: Palatino, Arial, Helvetica, sans-serif;
}

#profile-bubble-canvas {
  height: 100%
  width: 100%;
  background: #ffffff;
  border: thin solid #aaaaaa;
}