<!DOCTYPE html>
<html>
   <head>
      <title>Bouncing Balls</title>
      <link rel="stylesheet" href="application.css">
   </head>

   <body>
      <div id='signup-form'>
        <p>Login or Register with:</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
      </div>

      <canvas id='canvas'>
         Canvas not supported
      </canvas>
      <script src="circle_canvas.js"></script>
  </body>
</html>

