<!DOCTYPE html>
<html>
   <head>
      <title>Bouncing Balls</title>
      <link rel="stylesheet" href="application.css">
   </head>

   <body>

    <div class="cloud cloud-large">
      <div class="cloud-1"></div>
      <div class="cloud-2"></div>
      <div class="cloud-3"></div>
      <div class="cloud-4"></div>
    </div>


    <div class="cloud cloud-no-2 cloud-medium">
      <div class="cloud-1"></div>
      <div class="cloud-2"></div>
      <div class="cloud-3"></div>
      <div class="cloud-4"></div>
    </div>

    <div class="cloud cloud-no-3 cloud-small">
      <div class="cloud-1"></div>
      <div class="cloud-2"></div>
      <div class="cloud-3"></div>
      <div class="cloud-4"></div>
    </div>

      <div id='signup-form'>
        <p>Login or Register with:</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
      </div>

<!--       <canvas id='canvas'>
         Canvas not supported
      </canvas> -->
      <canvas id="sky"></canvas>
      <!-- // <script src="circle_canvas.js"></script> -->
      <script src="snow.js"></script>
  </body>
</html>

