<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
<canvas>
<h1>HELLO WORLD!</h1>
</canvas>
<script src="canvas.js"></script>
  <form action="/notes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>
  <div>
  <h2>Replace last note</h2>
  <button id="update"> update the note!!!! </button>
</div>

</body>
</html>